POSTGRES_DB=tickets
POSTGRES_USER=tickets
POSTGRES_PASSWORD=changeme_supersecret

SECRET_KEY=changeme_flask_secret_key_long_random_string

ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme_admin_password

PORT=8000
